.masked-input {
  border: solid gray 1px;
  border-radius: 4px;
  font-size: 20px;
  padding: 4px;
}

/* Only applied when invalid input loses focus. */
.masked-input:invalid {
  border-color: red;
}
